.content {
    margin-left: 7%;
    margin-right: 7%;
}

.background-image {
    width: 100%;
    height: 33vh;
    filter: opacity(20%);
}

.cont {
    position: relative;
}

.top {
    position: absolute;
    top: 10%;
    left: 3%;
}

.username {
    position: absolute;
    top: 26%;
    left: 22%;
    background-color: rgb(23, 19, 16);
    color: rgb(248, 248, 234);
    padding: 10px;
    font-size: 1.2em;
}

.name {
    position: absolute;
    top: 48%;
    left: 22%;
    background-color: rgb(23, 19, 16);
    color: rgb(204, 204, 204);
    font-size: .9em;
    padding: 7px;
}

.section {
    display: flex;
}

.mainCol {
    flex-basis: 68%;
	flex-grow: 5;
}

.secondCol {
    flex-basis: 30%;
	flex-grow: 1;
}
