<div class="content">
    <div class="cont">
        <img
            src="../../../assets/images/background.png"
            class="background-image"
            alt=""
        />
        <img
            [src]="'http://localhost:8080/api/user/avatar/' + user?.avatar"
            class="rounded-full top w-52"
            alt=""
        />
        <p class="username">{{ username }}</p>
        <p class="name">{{ user?.firstName + ' ' + user?.lastName }}</p>
        <button
            class="
                mt-4
                py-2
                px-4
                border
                border-transparent
                text-sm
                mb-4
                font-medium
                rounded-md
                text-white
                bg-indigo-600
                hover:bg-indigo-700
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500
            "
            (click)="subscribe()"
            *ngIf="username != currentUsername"
        >
            <span *ngIf="!meSubscribed; else elseBlock">
                Subscribe
            </span>

            <ng-template #elseBlock>
                <span >
                    Unsubscribe
                </span>
            </ng-template>
        </button>
    </div>

    <div class="section">
        <div class="mainCol">
            <div class="flex flex-wrap">
                <div class="w-full">
                    <mat-tab-group animationDuration="0ms">
                        <mat-tab label="First">Content 1</mat-tab>
                        <mat-tab label="Second">Content 2</mat-tab>
                        <mat-tab label="Third">Content 3</mat-tab>
                      </mat-tab-group>
                    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
                        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                            <a
                                class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal"
                                (click)="toggleTabs(1)"
                                [ngClass]="{
                                    'text-indigo-600 bg-white': openTab !== 1,
                                    'text-white bg-indigo-600': openTab === 1
                                }"
                            >
                                All
                            </a>
                        </li>
                        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                            <a
                                class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal"
                                (click)="toggleTabs(2)"
                                (click)="loadSongs()"
                                [ngClass]="{
                                    'text-indigo-600 bg-white': openTab !== 2,
                                    'text-white bg-indigo-600': openTab === 2
                                }"
                            >
                                Tracks
                            </a>
                        </li>
                        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                            <a
                                class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal"
                                (click)="toggleTabs(3)"
                                (click)="loadPlaylists()"
                                [ngClass]="{
                                    'text-indigo-600 bg-white': openTab !== 3,
                                    'text-white bg-indigo-600': openTab === 3
                                }"
                            >
                                Playlists
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 rounded">
                        <div class="px-4 py-5 flex-auto">
                            <div class="tab-content tab-space">
                                <div
                                    [ngClass]="{
                                        hidden: openTab !== 1,
                                        block: openTab === 1
                                    }"
                                >
                                    <p>
                                        Collaboratively administrate empowered
                                        markets via plug-and-play networks.
                                        Dynamically procrastinate B2C users
                                        after installed base benefits.
                                        <br />
                                        <br />
                                        Dramatically visualize customer directed
                                        convergence without revolutionary ROI.
                                    </p>
                                </div>

                                <div
                                    [ngClass]="{
                                        hidden: openTab !== 2,
                                        block: openTab === 2
                                    }"
                                >
                                    <a routerLink="/upload" *ngIf="username === currentUsername">
                                        <button class="py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Upload new track
                                        </button>
                                    </a>
                                    <div *ngFor="let song of songs">
                                        <app-music-track [song]="song"></app-music-track>
                                    </div>
                                </div>

                                <div
                                    [ngClass]="{
                                        hidden: openTab !== 3,
                                        block: openTab === 3
                                    }"
                                >
                                    <a routerLink="/playlist" *ngIf="username === currentUsername">
                                        <button class="py-2 px-4 border border-transparent text-sm mb-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Create new playlist
                                        </button>
                                    </a>

									<div class="grid grid-cols-3">
										<div *ngFor="let playlist of playlists" class="playlist border-2 mr-4 mt-4">
                                            <img
                                                [src]="'http://localhost:8080/api/playlist/photo/' + playlist.photo"
                                                alt="Playlist photo"
                                                class="playlist-image"
                                            >

                                            <p>{{ playlist.title }}</p>

                                            <a [routerLink]="'/playlist/' + playlist.id">
                                                <button>
                                                    Play
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="secondCol">
            <div class="grid grid-cols-3">
                <div class="">
                    <p>Subscribers</p>
                    <p>{{ user?.subscribers.length }}</p>
                </div>

                <div class="">
                    <p>Subscriptions</p>
                    <p>{{ user?.subscriptions.length }}</p>
                </div>

                <div class="">
                    <p>Tracks</p>
                    <p>{{ user?.tracks === undefined ? 0 : user?.tracks }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
