<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div
                class="absolute inset-y-0 left-0 flex items-center sm:hidden"
            >
                <!-- Mobile menu button-->
                <button
                    class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-expanded="false"
                >
                    <span class="sr-only">Open main menu</span>

                    <svg
                        class="block h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"
                        />
                    </svg>

                    <svg
                        class="hidden h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 18L18 6M6 6l12 12"
                        />
                    </svg>
                </button>
            </div>
            <div
                class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start"
            >
                <div class="flex-shrink-0 flex items-center">
                    <img
                        class="block lg:hidden h-8 w-auto"
                        src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
                        alt="Workflow"
                    />
                    <img
                        class="hidden lg:block h-10 w-auto"
                        src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                        alt="Workflow"
                    />
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div *ngIf="loggedIn" class="flex space-x-4">
                        <a
                            routerLink="/home"
                            [ngClass]="{
                                'bg-gray-900 text-white': currentRoute === '/home',
                                'text-gray-300 hover:bg-gray-700 hover:text-white': currentRoute !== '/home'
                            }"
                            class="px-3 py-2 rounded-md text-sm font-medium"
                        >
                            Домівка
                        </a>
                        <a
                            routerLink="/stream"
                            class="px-3 py-2 rounded-md text-sm font-medium"
                            [ngClass]="{
                                'bg-gray-900 text-white': currentRoute === '/stream',
                                'text-gray-300 hover:bg-gray-700 hover:text-white': currentRoute !== '/stream'
                            }"
                        >
                            Підписки
                        </a>
                        <a
                            routerLink="/library"
                            class="px-3 py-2 rounded-md text-sm font-medium"
                            [ngClass]="{
                                'bg-gray-900 text-white': currentRoute === '/library',
                                'text-gray-300 hover:bg-gray-700 hover:text-white': currentRoute !== '/library'
                            }"
                        >
                            Бібліотека
                        </a>
                    </div>
                </div>
            </div>

            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

                <div *ngIf="loggedIn">
                    <app-search></app-search>
                </div>

                <button
                    *ngIf="loggedIn"
                    class="
                        bg-gray-800
                        p-1
                        rounded-full
                        text-gray-400
                        hover:text-white
                        focus:outline-none
                        focus:ring-2
                        focus:ring-offset-2
                        focus:ring-offset-gray-800
                        focus:ring-white
                    "
                >
                    <span routerLink="/upload">Завантажити</span>

                </button>

                <!-- Profile dropdown -->
                <div *ngIf="loggedIn" class="ml-3 relative">
                    <app-profile-menu
                        [user]="user"
                    ></app-profile-menu>
                </div>

                <div *ngIf="!loggedIn" class="ml-3 relative flex items-stretch">
                    <a
                        routerLink="/login"
                        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                        role="menuitem">
                        Увійти
                    </a>

                    <a
                        routerLink="/signup"
                        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                        role="menuitem">
                        Зареєструватися
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--
      Mobile menu, toggle classes based on menu state.

      Menu open: "block", Menu closed: "hidden"
    -->
    <div class="hidden sm:hidden">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
                routerLink="#"
                class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
                >Dashboard</a
            >
            <a
                routerLink="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
                >Team</a
            >
            <a
                routerLink="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
                >Projects</a
            >
            <a
                routerLink="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
                >Calendar</a>
        </div>
    </div>
</nav>
