<div class="container mx-auto">
    <div *ngFor="let song of songs">
        <app-music-track
            [song]="song"
            (onDeletedSong)="updateSongList()"
        ></app-music-track>
    </div>
</div>
