<div *ngFor="let song of playlist; let i = index">
    <div class="flex justify-between my-4">
        <div class="flex justify-start">
            <p class="mr-5 text-gray-600">{{ i + 1 }}</p>
            <div *ngIf="queueService?.queue[0]; else elseBlock">
                <p [ngClass]="{'text-indigo-600': queueService.queue[0].id === song.id }">{{ song.name }}</p>
            </div>
            <ng-template #elseBlock>
                <p>{{ song.name }}</p>
            </ng-template>
        </div>
        <div *ngIf="song.duration % 60 < 10; else elseBlock1">
            <p>{{ ((song.duration - (song.duration % 60)) / 60) + ":0" + (song.duration % 60) }}</p>
        </div>
        <ng-template #elseBlock1>
            <p>{{ ((song.duration - (song.duration % 60)) / 60) + ":" + (song.duration % 60) }}</p>
        </ng-template>
    </div>
    <hr>
</div>
