<div>
    <div class="container mx-auto">
        <div class="flex flex-wrap">
            <div class="w-full">
                <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
                    <li
                        class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer"
                    >
                        <a
                            class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal"
                            (click)="toggleTabs(1)"
                            [ngClass]="{
                                'text-indigo-600 bg-white': openTab !== 1,
                                'text-white bg-indigo-600': openTab === 1
                            }"
                        >
                            Користувачі
                        </a>
                    </li>

                    <li
                        class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer"
                    >
                        <a
                            class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal"
                            (click)="toggleTabs(2)"
                            (click)="loadSongs()"
                            [ngClass]="{
                                'text-indigo-600 bg-white': openTab !== 2,
                                'text-white bg-indigo-600': openTab === 2
                            }"
                        >
                            Пісні
                        </a>
                    </li>

                    <li
                        class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer"
                    >
                        <a
                            class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal"
                            (click)="toggleTabs(3)"
                            (click)="loadPlaylists()"
                            [ngClass]="{
                                'text-indigo-600 bg-white': openTab !== 3,
                                'text-white bg-indigo-600': openTab === 3
                            }"
                        >
                            Плейлисти
                        </a>
                    </li>

                    <li
                        class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer"
                    >
                        <a
                            class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal"
                            (click)="toggleTabs(4)"
                            (click)="loadGenres()"
                            [ngClass]="{
                                'text-indigo-600 bg-white': openTab !== 4,
                                'text-white bg-indigo-600': openTab === 4
                            }"
                        >
                            Жанри
                        </a>
                    </li>
                </ul>
                <hr />
                <div
                    class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 rounded"
                >
                    <div class="w-40 flex-auto">
                        <div class="tab-content tab-space">
                            <div
                                [ngClass]="{
                                    hidden: openTab !== 1,
                                    block: openTab === 1
                                }"
                            >
                                <app-admin-users-table></app-admin-users-table>
                            </div>

                            <div
                                [ngClass]="{
                                    hidden: openTab !== 2,
                                    block: openTab === 2
                                }"
                                class="w-full"
                            >
                                <app-admin-songs-table></app-admin-songs-table>
                            </div>

                            <div
                                [ngClass]="{
                                    hidden: openTab !== 3,
                                    block: openTab === 3
                                }"
                            >
                                <app-admin-playlists-table></app-admin-playlists-table>
                            </div>

                            <div
                                [ngClass]="{
                                    hidden: openTab !== 4,
                                    block: openTab === 4
                                }"
                            >
                                <app-admin-genres-table></app-admin-genres-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
