<div class="border-1 border-gray-400 w-max">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> № </th>
            <td mat-cell *matCellDef="let user">
                <p class="mr-5">{{ user.id }} </p>
            </td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
            <td mat-cell *matCellDef="let user">
                <p class="mr-5">{{user.username}}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let user">
                <p class="mr-5">{{user.email}}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let user">
                <p class="mr-5">{{user.firstName}}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let user">
                <p class="mr-5">{{user.lastName}}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="subscribers">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subscribers </th>
            <td mat-cell *matCellDef="let user">
                <p class="mr-20">{{user.subscribers.length}}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="subscriptions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subscriptions </th>
            <td mat-cell *matCellDef="let user">
                <p class="mr-20">{{user.subscriptions.length}}</p>
            </td>
        </ng-container>
        <ng-container matColumnDef="tracks">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tracks </th>
            <td mat-cell *matCellDef="let user">
                <p class="mr-10">{{user.tracks}}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="avatar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </th>
            <td mat-cell *matCellDef="let user">
                <p class="mr-5">{{user.avatar}}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
            <td mat-cell *matCellDef="let user">
                <p class="mr-5 inline">{{user.role}}</p>

                <!-- <img
                    src="../../../assets/images/delete.png"
                    class="ml-4 w-4 inline cursor-pointer"
                    (click)="deleteUser(user)"
                    *ngIf="user.role !== 'ADMIN'"
                > -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="w-max">
        <mat-paginator
            #paginator
            [length]="dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5, 25, 50, 100]"
        >
        </mat-paginator>
    </div>
</div>
