<div class="md:container mx-auto bg-gray-100 py-5 mt-4">
    <p class="text-4xl font-bold mt-5 mb-5">Налаштування</p>

    <div>
        <p class="text-2xl">Профіль</p>

        <div class="grid grid-cols-2 mt-2 mb-2">
            <p class="text-gray-400 text-lg">Ім'я користувача</p>
            <p class="text-xl">{{ user?.username }}</p>
        </div>
        <hr />

        <div class="grid grid-cols-2 mt-2 mb-2">
            <p class="text-gray-400 text-lg">Електронна адреса</p>
            <p class="text-xl">{{ user?.email }}</p>
        </div>
        <hr />

        <div class="grid grid-cols-2 mt-2 mb-2">
            <p class="text-gray-400 text-lg">Ім'я</p>
            <p class="text-xl">{{ user?.firstName }}</p>
        </div>
        <hr />

        <div class="grid grid-cols-2 mt-2 mb-2">
            <p class="text-gray-400 text-lg">Прізвище</p>
            <p class="text-xl">{{ user?.lastName }}</p>
        </div>
        <hr />

        <a routerLink="/edit">
            <app-button text="Редагувати профіль"></app-button>
        </a>
    </div>

    <!-- <div>
        <p class="text-2xl mt-5">Change language</p>
        <label class="block mt-1">
            <span class="text-gray-700">Language</span>
            <select class="mt-1 w-full border-2 border-gray-400 rounded">
                <option>Ukrainian</option>
                <option>English</option>
                <option>Russian</option>
            </select>
        </label>

        <a routerLink="/edit">
            <app-button text="Change"></app-button>
        </a>
    </div> -->

    <div>
        <p class="text-2xl mt-5">Видалити акаунт</p>
        <div (click)="deleteAccount()">
            <app-red-button text="Видалити акаунт"></app-red-button>
        </div>
    </div>
</div>
