<div class="border-1 border-gray-400 w-max">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let genre">{{ genre.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let genre">
                {{ genre.name }}

                <!-- <img
                    src="../../../assets/images/delete.png"
                    class="ml-4 w-4 inline cursor-pointer"
                    (click)="deleteGenre(genre)"
                > -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="w-max">
        <mat-paginator
            #paginator
            [length]="dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5, 25, 50, 100]"
        >
        </mat-paginator>
    </div>
</div>
