<div class="container mx-auto">
    <div *ngIf="playlist">
        <div class="flex flex-wrap content-start mt-5">
            <img [src]="'http://localhost:8080/api/playlist/photo/' + playlist.photo" class="playlist-image">

            <div>
                <p class="text-4xl mt-9 ml-4 capitalize font-bold">{{ playlist.title }}</p>

                <p class="mt-4 ml-4">Плейлист • {{ playlist.username }}</p>
                <p class="ml-4">
                    {{ playlist.songs.length }} композицій •
                    {{ ((playlistDuration - (playlistDuration % 60)) / 60) + ' хвилин ' + (playlistDuration % 60) + ' секунд' }}
                </p>

                <div
                    class="inline-block"
                    *ngIf="playlist.songs.length > 0"
                    (click)="play()"
                >
                    <app-button *ngIf="!isPlaying" text="Грати"></app-button>
                </div>

                <div
                    class="inline-block"
                    *ngIf="playlist.username === currentUsername && playlist.state !== 'TECHNICAL'"
                    (click)="deletePlaylist()"
                >
                    <app-red-button text="Видалити плейлист"></app-red-button>
                </div>
            </div>
        </div>

        <app-playlist-song [playlist]="playlist.songs"></app-playlist-song>
    </div>
</div>
