<div class="container">
    <div *ngIf="playlist">
        <div class="flex flex-wrap content-start mt-5">
            <img [src]="'http://localhost:8080/api/playlist/photo/' + playlist.photo" class="playlist-image">

            <div>
                <p class="text-4xl mt-9 ml-4 capitalize font-bold">{{ playlist.title }}</p>

                <p class="mt-4 ml-4">Album • Tool • 2020</p>
                <p class="ml-4">{{ playlist.songs.length }} compositions • 1 hour 16 minutes</p>
                <button
					class="
						ml-4
						mt-9
						py-2
						px-4
						border
						border-transparent
						text-sm
						font-medium
						rounded-md
						text-white
						bg-indigo-600
						hover:bg-indigo-700
						focus:outline-none
						focus:ring-2
						focus:ring-offset-2
						focus:ring-indigo-500
					"

					(click)="play()"
				>
					<span *ngIf="!isPlaying">
                        Play
                    </span>
                    <span *ngIf="isPlaying">
                        Stop
                    </span>
				</button>
            </div>
        </div>

        <app-playlist-song [playlist]="playlist.songs"></app-playlist-song>
    </div>
</div>
