<div class="bg-white shadow fixed flex items-center" *ngIf="msaapPlaylist.length > 0">
    <div class="player">
        <ngx-audio-player
            [playlist]="msaapPlaylist"
            [displayTitle]="msaapDisplayTitle"
            [autoPlay]="false"
            muted="muted"
            [displayPlaylist]="msaapDisplayPlayList"
            [pageSizeOptions]="msaapPageSizeOptions"
            [displayArtist]="msaapDisplayArtist"
            [displayDuration]="msaapDisplayDuration"
            [expanded]="true"
            (trackEnded)="onEnded($event)"
            [displayVolumeControls]="msaapDisplayVolumeControls"
            [displayRepeatControls]="msaapDisplayRepeatControls"
            [disablePositionSlider]="msaapDisablePositionSlider"
        ></ngx-audio-player>
    </div>
    <button class="queueButton">
        <a routerLink="/queue">
            <img src="../../../assets/images/queue.png" class="w-9" alt="">
        </a>
    </button>
</div>
