<div
    class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
>
    <div class="max-w-md w-full space-y-8">
        <div>
            <img
                class="mx-auto h-12 w-auto"
                src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                alt="Workflow"
            />
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Редагувати профіль
            </h2>
        </div>
        <form
            class="mt-8 space-y-6"
            action="#"
            method="POST"
            [formGroup]="editForm"
            (ngSubmit)="onSubmit()"
        >
            <input type="hidden" name="remember" value="true" />

            <div class="rounded-md shadow-sm 10-space-y-px">
                <div>
                    <label for="firstName" class="sr-only">Ім'я</label>

                    <input
                        id="firstName"
                        name="firstName"
                        formControlName="firstName"
                        type="text"
                        autocomplete="firstName"
                        required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        placeholder="Ім'я"
                        [value]="user?.firstName"
                    />
                </div>

                <div *ngIf=" firstName.invalid && (firstName.dirty || firstName.touched) " class="text-red-500">

                    <div *ngIf="firstName.errors.required">
                        Введіть імя
                    </div>

					<div *ngIf="firstName.errors.minlength">
                        Ім'я має бути щонайменше {{ firstNameMinLength }} символи
                    </div>

                </div>

				<div>
                    <label for="lastName" class="sr-only">Прізвище</label>

                    <input
                        id="lastName"
                        name="lastName"
                        formControlName="lastName"
                        type="text"
                        autocomplete="lastName"
                        required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        placeholder="Прізвище"
                        [value]="user?.lastName"
                    />
                </div>

                <div *ngIf=" lastName.invalid && (lastName.dirty || lastName.touched) " class="text-red-500">

                    <div *ngIf="lastName.errors.required">
                        Введіть прізвище
                    </div>

					<div *ngIf="lastName.errors.minlength">
                        Прізвище має бути щонайменше {{ lastNameMinLength }} символи
                    </div>

                </div>

				<div>
                    <label for="email" class="sr-only">Електронна адреса</label>

                    <input
                        id="email"
                        name="email"
                        formControlName="email"
                        type="text"
                        autocomplete="email"
                        required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        placeholder="Email"
                        [value]="user?.email"
                    />
                </div>

                <div *ngIf=" email.invalid && (email.dirty || email.touched) " class="text-red-500">

                    <div *ngIf="email.errors.required">
                        Введіть електронну адресу
                    </div>

					<div *ngIf="email.errors.email">
                        Введіть коректну електронну адресу
                    </div>

                </div>
            </div>

            <div>
                <label for="photo">Фотографія профіля: </label>
                <input
                    formControlName="photo"
                    (change)="onFileChange($event)"
                    type="file"
                    name="songs"
                    id="songs"
                />
            </div>

            <div>
                <button
                    type="submit"
					[disabled]="!editForm.valid"
                    class="
						group
						relative
						w-full
						flex
						justify-center
						py-2
						px-4
						border
						border-transparent
						text-sm
						font-medium
						rounded-md
						text-white
						bg-indigo-600
						hover:bg-indigo-700
						focus:outline-none
						focus:ring-2
						focus:ring-offset-2
						focus:ring-indigo-500"
                >
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3" *ngIf="!editForm.valid">
                        <svg
                            class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true">
                            <path
                                fill-rule="evenodd"
                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </span>

                    Оновити профіль

                </button>
            </div>
        </form>
    </div>
</div>
