<div class="container">
    <p class="capitalize font-bold text-4xl mt-9">playing queue</p>
    <div (click)="clearQueue()">
        <app-red-button text="Clear queue"></app-red-button>
    </div>

    <div *ngIf="queue.length > 0">
        <app-playlist-song [playlist]="queue"></app-playlist-song>
    </div>
    <div *ngIf="queue.length <= 0">
        <p class="text-gray-500 mt-5">
            You don't have a play queue. Click
            <a routerLink="/home" class="text-blue-600 hover:text-blue-400">here</a>
            to start listening
        </p>
    </div>
</div>
