<div class="container mx-auto">
    <div class="mainCol">
        <div class="flex flex-wrap">
            <div class="w-full">
                <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
                    <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                        <a
                            class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal"
                            (click)="toggleTabs(1)"
                            [routerLink]="'/search/song-title/' + searchService.searchQuery"
                            [ngClass]="{
                                'text-indigo-600 bg-white': router.url !== '/search/song-title/' + searchService.searchQuery,
                                'text-white bg-indigo-600': router.url === '/search/song-title/' + searchService.searchQuery
                            }"
                        >
                            Пісні
                        </a>
                    </li>
                    <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                        <a
                            class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal"
                            (click)="toggleTabs(2)"
                            [routerLink]="'/search/user-name/' + searchService.searchQuery"
                            [ngClass]="{
                                'text-indigo-600 bg-white': router.url !== '/search/user-name/' + searchService.searchQuery,
                                'text-white bg-indigo-600': router.url === '/search/user-name/' + searchService.searchQuery
                            }"
                        >
                            Користувачі
                        </a>
                    </li>
                    <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                        <a
                            class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal"
                            (click)="toggleTabs(3)"
                            [routerLink]="'/search/song-genre/' + searchService.searchQuery"
                            [ngClass]="{
                                'text-indigo-600 bg-white': router.url !== '/search/song-genre/' + searchService?.searchQuery,
                                'text-white bg-indigo-600': router.url === '/search/song-genre/' + searchService?.searchQuery
                            }"
                        >
                            Пісні по жанру
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 rounded">
                    <div class="px-4 py-5 flex-auto">
                        <div class="tab-content tab-space">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
