<div
    class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
>
    <div class="max-w-md w-full space-y-8">
        <div>
            <img
                class="mx-auto h-12 w-auto"
                src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                alt="Workflow"
            />
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Завантажити нову пісню
            </h2>
        </div>
        <form
            class="mt-8 space-y-6"
            action="#"
            method="POST"
            [formGroup]="songForm"
            (ngSubmit)="onSubmit()"
        >

            <div *ngIf="serverSongErrorResponse" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Помилка завантаження файлу</strong><br>
                <span class="block sm:inline">Вибраний файл занадто великий. Максимальна довжина 10 Мб.</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                    <svg
                        (click)="serverSongErrorResponse = null"
                        class="fill-current h-6 w-6 text-red-500"
                        role="button"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                    >
                            <title>Close</title>
                            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                    </svg>
                </span>
            </div>

            <div *ngIf="genreNotSelectedError" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Жанр пісні не вибраний</strong><br>
                <span class="block sm:inline">Створіть новий або виберіть з існуючих.</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                    <svg
                        (click)="genreNotSelectedError = null"
                        class="fill-current h-6 w-6 text-red-500"
                        role="button"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                    >
                            <title>Close</title>
                            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                    </svg>
                </span>
            </div>

            <div *ngIf="genreAlreadyExcistsError" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Жанр пісні уже існує</strong><br>
                <span class="block sm:inline">Створіть новий або виберіть з існуючих.</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                    <svg
                        (click)="genreAlreadyExcistsError = null"
                        class="fill-current h-6 w-6 text-red-500"
                        role="button"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                    >
                            <title>Close</title>
                            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                    </svg>
                </span>
            </div>

            <input type="hidden" name="remember" value="true" />

            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="title" class="sr-only">Заголовок</label>

                    <input
                        id="title"
                        name="title"
                        formControlName="title"
                        type="text"
                        autocomplete="title"
                        required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        placeholder="Заголовок"
                    />
                </div>

                <div
                    *ngIf="
                        title.invalid && (title.dirty || title.touched)
                    "
                    class="text-red-500"
                >
                    <div *ngIf="title.errors.required">
                        Введіть заголовок
                    </div>

                    <div *ngIf="title.errors.minlength">
                        Довжина заголовку має бути щонайменше 2 символи
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-2">
                    <div class="">
                        <select (change)="selectValueChangedEvent(genreSelect.value)" #genreSelect>
                            <option value="-1">-- Виберіть --</option>
                            <option value="-2">-- Кастомний --</option>
                            <option [value]="i.id" *ngFor="let i of genres">{{ i.name }}</option>
                        </select>
                    </div>

                    <div *ngIf="customGenre">
                        <label for="genre" class="sr-only">Жанр</label>
                        <input
                            id="genre"
                            name="genre"
                            formControlName="genre"
                            type="text"
                            required
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Жанр"
                        />
                    </div>

                    <div *ngIf="genre.invalid && customGenre && (genre.dirty || genre.touched)" class="text-red-500">
                        <div *ngIf="genre.errors.required">
                            Введіть жанр
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <label for="songs" class="mr-4">Музичний файл:</label>
                <input
                    formControlName="files"
                    (change)="onSongFileChange($event)"
                    type="file"
                    name="songs"
                    id="songs"
                    accept=".mp3"
                />
                <div *ngIf="files.invalid && (files.dirty || files.touched)" class="text-red-500">
                    <div *ngIf="files.errors.required">
                        Виберіть музичний файл
                    </div>
                </div>
            </div>

            <div>
                <label for="cover" class="mr-4">Зображення:</label>
                <input
                    formControlName="cover"
                    (change)="onCoverFileChange($event)"
                    type="file"
                    name="cover"
                    id="cover"
                    accept=".jpg, .jpeg, .png"
                />
                <div *ngIf="cover.invalid && (cover.dirty || cover.touched)" class="text-red-500">
                    <div *ngIf="cover.errors.required">
                        Виберіть зображення
                    </div>
                </div>
            </div>

            <div>
                <button
                    type="submit"
                    [disabled]="!songForm.valid"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                    <span
                        class="absolute left-0 inset-y-0 flex items-center pl-3"
                        *ngIf="!songForm.valid"
                    >
                        <svg
                            class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </span>

                    Завантажити
                </button>
            </div>
        </form>
    </div>
</div>
