<div *ngFor="let user of searchRes">
    <app-user-view [user]="user"></app-user-view>
</div>
<div *ngIf="searchRes.length <= 0">
    <span class="text-gray-500 text-xl">Немає даних для відображення</span>
</div>
