<div class="mt-5">
    <div class="grid grid-cols-6 items-center">
        <div class="flex">
            <a [routerLink]="'/profile/' + user.username">
                <img [src]="hostName + 'api/user/avatar/' + user.avatar" class="h-36 rounded-full w-36 inline" alt="">
            </a>
        </div>

        <div class="col-span-4 ml-5">
            <a [routerLink]="'/profile/' + user.username">
                <p class="text-xl text-bold">{{ user.username }}</p>
            </a>
            <div class="text-gray-400 mt-2">
                <p class="inline">{{ user.firstName }} </p>
                <p class="inline">{{ user.lastName }}</p>
            </div>

            <div class="w-20">
                <div class="grid grid-cols-2">
                    <div class="">
                        <img src="../../../assets/images/peoples.png" class="w-5 inline-block" alt="">
                        <p class="inline ml-1">{{ user.subscribers.length }}</p>
                    </div>

                    <div class="">
                        <img src="../../../assets/images/music.png" class="w-4 inline-block" alt="">
                        <p class="inline ml-1">{{ user.tracks }}</p>
                    </div>
                </div>
            </div>

        </div>

        <div>
            <button
                class="
                    mt-4
                    py-2
                    px-4
                    border
                    border-transparent
                    text-sm
                    mb-4
                    font-medium
                    rounded-md
                    text-white
                    bg-indigo-600
                    hover:bg-indigo-700
                    focus:outline-none
                    focus:ring-2
                    focus:ring-offset-2
                    focus:ring-indigo-500
                "
                (click)="subscribe()"
                *ngIf="user.username !== currentUsername"
            >
                <span *ngIf="!meSubscribed; else elseBlock">
                    Підписатися
                </span>

                <ng-template #elseBlock>
                    <span >
                        Відписатися
                    </span>
                </ng-template>
            </button>
        </div>
    </div>

</div>
