<div class="flex h-screen">
    <div class="m-auto">
        <h3 class="uppercase text-5xl">музичний сервіс</h3>

        <div class="flex items-center justify-center">
            <a routerLink="/signup">
                <app-button text="Зареєструватися"></app-button>
            </a>
            
            <a routerLink="/login">
                <app-button text="Увійти"></app-button>
            </a>
        </div>
    </div>
</div>
