<form
    action=""
    class="flex items-stretch mr-5"
    [formGroup]="searchForm"
    (ngSubmit)="search()"
>
    <input
        type="text"
        name=""
        id=""
        placeholder="Пошук"
        formControlName="searchQuery"
        required
        class="p-1 width focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full sm:text-sm border-gray-300"
    />

    <button type="submit" [disabled]="!searchForm.valid">
        <img
            src="../assets/images/search.png"
            alt="search"
            class="img-small inline bg-white"
        />
    </button>
</form>
