<div>
    <div class="grid mb-2 mt-5 grid-cols-2">
        <div class="">
            <a [routerLink]="'/profile/' + song.username">
                <img
                    [src]="'http://localhost:8080/api/user/avatar/' + avatar"
                    class="w-8 h-8 inline rounded-full mr-2"
                />
                <p class="font-bold inline text-sm">{{ song.username }}</p>
            </a>
            <p class="font-light inline text-sm"> опублікував нову пісню</p>
        </div>

        <div class="flex justify-end">
            <app-song-menu
                [displayAddToQueue]="check()"
                [displayDelete]="song.username === currentUsername"
                [playlists]="playlists"
                (onNeedToDelete)="deleteSong()"
                (onNeedToAddToQuery)="addToQueue()"
                (playlistId)="addToPlaylist($event)"
            ></app-song-menu>
        </div>
    </div>

    <div class="grid grid-cols-1">
        <div class="flex items-center">
            <img
                [src]="hostName + 'api/song/cover/' + song.cover"
                class="h-40 w-40 inline"
                alt=""
            />
            <button class="ml-5" (click)="play()">
                <img
                    src="../../../assets/images/play1.svg"
                    alt="Play"
                    *ngIf="check()"
                />
            </button>

            <p class="inline ml-5 mr-5">{{ song.name }}</p>
            <a [routerLink]="'/search/song-genre/' + song.genre" class="text-gray-700">
                <p>#{{ song.genre }}</p>
            </a>

            <p class="ml-auto">
                {{ lengthInMinutes + ":" + lengthInSeconds }}
            </p>
        </div>
    </div>

    <div class="flex mt-2 cursor-pointer w-7 h-7" (click)="like()">
        <img src="../../../assets/images/like.png" *ngIf="!meLiked" alt="" />
        <img src="../../../assets/images/liked.png" *ngIf="meLiked" alt="" />
        <p class="ml-3">{{ song.likes.length }}</p>
    </div>
</div>
