<div>
    <div class="mb-2 mt-5">
        <img
            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            class="w-8 h-8 inline rounded-full mr-2"
        >
        <p class="font-bold inline text-sm">{{ song.username }}</p>
        <p class="font-light inline text-sm"> posted a track</p>
    </div>

    <div class="flex items-center">
        <img src="../../../assets/images/a.jpg" class="h-40 w-40 inline" alt="">
        <button class="ml-5" (click)="play()">
            <img src="../../../assets/images/play1.svg" alt="Play" *ngIf="!playing">
            <img src="../../../assets/images/pause.svg" alt="Pause" *ngIf="playing">
        </button>
        <p class="inline ml-5">{{ song.name }}</p>
        <p class="ml-10">#{{ song.genre }}</p>
    </div>

</div>
