<div class="border-1 border-gray-400 w-max">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> № </th>
            <td mat-cell *matCellDef="let i = index">
                <p class="mr-5">{{ i + 1 }} </p>
            </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let playlist">
                <p class="mr-5">{{playlist.title}}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Photo </th>
            <td mat-cell *matCellDef="let playlist">
                <p class="mr-5">{{playlist.photo}}</p>
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
            <td mat-cell *matCellDef="let playlist">
                <p class="mr-16">{{ playlist.duration }}</p>
            </td>
        </ng-container> -->

        <ng-container matColumnDef="songs">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Songs </th>
            <td mat-cell *matCellDef="let playlist">
                <p class="mr-16">{{playlist.songs.length}}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
            <td mat-cell *matCellDef="let playlist">
                <p class="mr-20">{{playlist.username}}</p>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="w-max">
        <mat-paginator
            #paginator
            [length]="dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5, 25, 50, 100]"
        >
        </mat-paginator>
    </div>
</div>
