<div *ngFor="let playlist of data.playlists">
    <div
        class="hover:bg-gray-200 cursor-pointer p-3"
        [ngClass]="{'bg-indigo-100': playlist.id === playlistId}"
    >
        <p (click)="select($event, playlist.id)">
            {{ playlist.title }}
        </p>
    </div>
</div>
<div *ngIf="data.playlists.length <= 0" class="text-sm">
    Немає плейлистів для відображення
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Скасувати</button>
    <button mat-button [mat-dialog-close]="playlistId" [disabled]="!playlistId" cdkFocusInitial>Ok</button>
</div>
