<div class="md:container mx-auto">
    <div class="mb-5">
        <p class="mt-5 mb-4 text-2xl">Недавно відтворено</p>

        <div class="grid xl:grid-cols-5 md:grid-cols-5 sm:grid-cols-4 gap-4">
            <div *ngFor="let song of resentlyPlayedSongs">
                <img [src]="hostName + 'api/song/cover/' + song?.cover" class="h-40 w-40 inline" alt="">
                <p class="text-lg">{{ song.name }}</p>
                <p class="text-sm text-gray-400">{{ song.username }}</p>
            </div>
        </div>
        <div *ngIf="resentlyPlayedSongs.length <= 0">
            <p class="text-lg text-gray-500">Немає даних для відображення</p>
        </div>
    </div>

    <hr>
    <div class="mb-5">
        <p class="mt-5 mb-4 text-2xl">Вподобані пісні</p>

        <div class="grid xl:grid-cols-5 md:grid-cols-5 sm:grid-cols-4 gap-4">
            <div *ngFor="let song of likedSongs">
                <img [src]="hostName + 'api/song/cover/' + song?.cover" class="h-40 w-40 inline" alt="">
                <p class="text-lg">{{ song.name }}</p>
                <p class="text-sm text-gray-400">{{ song.username }}</p>
            </div>
        </div>
        <div *ngIf="likedSongs.length <= 0">
            <p class="text-lg text-gray-500">Немає даних для відображення</p>
        </div>
    </div>

    <hr>
    <div class="mb-5">
        <p class="mt-5 mb-4 text-2xl">Плейлисти</p>

        <div class="grid xl:grid-cols-5 md:grid-cols-5 sm:grid-cols-4 gap-4">
            <div *ngFor="let playlist of playlists">
                <a [routerLink]="'/playlist/' + playlist.id">
                    <img [src]="hostName + 'api/playlist/photo/' + playlist.photo" class="h-40 w-40 inline" alt="">
                    <p class="text-lg">{{ playlist.title }}</p>
                </a>
            </div>
        </div>
        <div *ngIf="playlists.length <= 0">
            <p class="text-lg text-gray-500">Немає даних для відображення</p>
        </div>
    </div>

    <hr>
    <div class="mb-5">
        <p class="mt-5 mb-4 text-2xl">Підписки</p>

        <div class="grid xl:grid-cols-5 md:grid-cols-5 sm:grid-cols-4 gap-4">
            <div *ngFor="let user of subscriptions">
                <a [routerLink]="'/profile/' + user.username">
                    <img [src]="hostName + 'api/user/avatar/' + user.avatar" class="rounded-full h-40 w-40 inline" alt="">
                    <p class="text-lg">{{ user.username }}</p>
                </a>
            </div>
        </div>
        <div *ngIf="subscriptions.length <= 0">
            <p class="text-lg text-gray-500">Немає даних для відображення</p>
        </div>
    </div>
</div>
