<div class="container mx-auto">
    <h1 class="text-gray-500 text-lg mt-5 mb-5">Пісні користувачів, на яких ви підписані:</h1>

    <div *ngFor="let song of songs">
        <app-music-track [song]="song"></app-music-track>
    </div>
    <div *ngIf="songs.length <= 0">
        <p class="text-lg text-gray-400">Немає данних для відображення</p>
    </div>
</div>

